#main{
    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/sven-mieke.jpg');
    position: relative;
    z-index: 0;
}

#main::before{
    position: absolute;
    content: "";
    background: -moz-radial-gradient(center, ellipse cover, rgb(20, 74, 74) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgb(20, 74, 74) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: radial-gradient(ellipse at center, rgb(20, 74, 74) 0%, rgba(0, 0, 0, 0.6) 100%);
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}


.menu-icon{
    display:none;
}
.header-heading{
text-align: center;
font-family: 'Montserrat';
width: 900px;
position: absolute;
left: 50%;
top: 55%;
transform: translate(-50%,-55%);
}
.header-heading span{
color: teal;
}
.header-heading .details{
font-size: 23px;
color: #c5c5c5;
}
.header-heading h2{
font-family:'Lato';
font-size: 2.7rem;
margin:0px;
letter-spacing: 2px;
color:#ffffff;
}
.header-heading h1{
font-family:'Lato';
font-size: 5rem;
margin:0px;
letter-spacing: 2px;
color:#ffffff;
}
.header-btns{
display: flex;
margin-top: 40px;
margin-left: 40%;
}
.header-btn{
width:160px;
height: 50px;
display: flex;
justify-content: center;
margin-left: 40px;
align-items: center;
font-size: 1.4rem;
background-color: teal;
box-shadow: 5px 10px 30px rgb(3, 81, 82);
border-radius: 5px;
color:#ffffff;
}
.header-btn:hover{
background-color: transparent;
transition: all ease 0.5s;
color: #ffffff;
border: 2px solid teal;
}

/* Feats */

