.fitness-page {
    background-image: url(../../images/fitness.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}
.fitness-components {
    margin: auto;
}
.fitness-intro {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.add-workout {
    border: white solid 2px;
    background-color: rgba(224, 255, 221, 0.85);
    border-radius: 15px;
    filter: drop-shadow(10px 10px 10px black);
}

.daily-workouts {
    border: white solid 2px;
    background-color: rgba(224, 255, 221, 0.85);
    border-radius: 15px;
    filter: drop-shadow(10px 10px 10px black);
}

.fitness-tips {
    border: white solid 2px;
    background-color: rgba(224, 255, 221, 0.85);
    border-radius: 15px;
    filter: drop-shadow(10px 10px 10px black);
}

.fitness-meter {
    border: white solid 2px;
    background-color: rgba(224, 255, 221, 0.85);
    border-radius: 15px;
    filter: drop-shadow(10px 10px 10px black);
}
