.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 10px;
}

.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 10px;
}