.stat{
    background-image: url('../../images/photo-1459664018906-085c36f472af.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;    
    height: auto;
    padding-bottom: 25px;
}
.col-md-6{
    text-align: center;
    vertical-align: middle;
    color: rgb(241, 241, 238);
    text-shadow: 2px 2px #161515;
    position:inherit;
    display: table ;    
    margin-left:auto; 
    margin-right:auto;
}
.row1{
    text-align: center;
    vertical-align: middle;
    position:flex;
    width: auto;    
    height: auto; 
    display: table ;    
    margin-left:auto; 
    margin-right:auto;
}
.chart{
    color: ivory;
}
.stat{
    color: ivory;
}
.savebtn{
    color: rgb(15, 15, 14);
}
.stat-intro {
    color: white;
    text-align: center;
    padding-top: 1px;
    text-align: center;
}

.stat-intro-statement {
    margin-left: 12%;
    text-shadow: 2px 2px #070e0c;
}
.stat-title {
    font-size: 100px;
    text-shadow: 4px 4px #070e0c;
}

.stat-headers {
    color: #3AA08C;
    font-size: 32px;
}
