.Journal {
    background-image: url(../../images/aaron-burden-iIWF5HJstGY-unsplash.jpg);
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.journal-form {
    padding-top: 150px;
}

.note {
    text-align: center;
    background-color: teal;
    color: black;
    opacity: 90%;
    margin: 4%;
    height: 250px;
    filter: drop-shadow(10px 15px 5px black);
    list-style: none;
}

.date {
    font-size: 20px;
    padding: 20px 0px 0 0;
}

.no-notes {
    color: white;
    text-align: center;
    padding-top: 50px;
    text-shadow: 5px 5px teal;
    font-size: 100px;
}
