.submitbtn {
    width:160px;
	height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: teal;
    box-shadow: 5px 10px 30px rgb(20, 74, 74);
    border-radius: 5px;
	color:#ffffff;
}