.carddiv{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    border-radius:10px;

}

.picturecard{
    border:solid;
    border-width: 0.5px;
    

    box-shadow: 5px 10px gray;
}

.img-card-top{
    display: block;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 10px;

}

.card-text{
    text-align: center;
    opacity: 0.9;
}

.foodtext{
    font-weight: bold;
}

.listtext{
    width: 170px;
}

.tablethree{
    background-color: white;
}

