.carddiv{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    border-radius:10px;

}

.picturecard{
    border:solid;
    border-width: 0.5px;
    box-shadow: 5px 10px 10px #959c9e;
}

.img-card-top{
    display: block;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #959c9e;

}

.card-text{
    text-align: center;
    opacity: 0.9;
}

.foodtext{
    font-weight: bold;
    box-shadow: 5px 10px 10px #959c9e;
}

.listtext{
    text-align: center;
    width: 165px;
    box-shadow: 5px 10px 10px #959c9e;
}

.tablethree{
    background-color: white;
}

@media only screen and (max-width: 1068px) {
    .listtext {
      width: 115px;
    }
}

@media only screen and (max-width: 1068px) {
    .listtext {
      font-size: 12px;
      width:90px;
    }
}





