/* body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}  */
#contact-container {
    display: flex;
    width: 1200px;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    background: pink;
    .contact-info{
        border-radius: 15px;
        background-color: teal;
        flex: 0 1 40%;
        padding: 40px;
        color: white;
        display: flex;
        flex-direction: column;
        h4{
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
    
        }
        p {
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 2rem;
            color: rgba(255, 255, 255, .7);
        }
        .icon-text {
            display:flex;
            justify-content: flex-start;
            align-items: center;
            .fa {
                font-size: 2.5rem;
                margin-right: 2rem;
                flex: 0 0 20px;
                color: #1fa8d1;
            }
            .social-media{
                display: flex;
                width: 50%;
                background: black;
                justify-content: space-between;
                .icon-circle{
                    display:flex;
                    flex: 1 1 25%;
                    justify-content: center;
                    height: 40px;
                    border-radius: 50%;
                    align-items: center;
                    background: #1fa8d1;

                }
            }
            span{
                font-size: 1.3rem;
                font-weight: 200;
                
            }
        }
    }
    
}